<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>Let's Encrypt</name>
    <version>104</version>
    <defaultcat>Domain Management</defaultcat>
	<type>user</type>
	<ostype>lin</ostype>
    <desc>Add Let's Encrypt certificates to your domain</desc>
    <authorname>Adrian Preuß</authorname>
    <authoremail>bizarrus@icloud.com</authoremail>
    <authorurl>https://github.com/Bizarrus/Sentora-LetsEncrypt</authorurl>
    <updateurl>http://sentcrypt.tk/letsencrypt.zpp</updateurl>
	<downloadurl>http://sentcrypt.tk/letsencrypt.zpp</downloadurl>
</module>